<div class="justify-center max-w-[1600px] mx-auto relative pt-20">
  <app-backbutton />

  <section class="flex flex-col lg:flex-row mt-5 py-10 mx-auto">
    <div class="flex flex-col md:flex-row xl:flex-1 gap-4 lg:w-[60%] p-10">
      <div
        class="overflow-hidden bg-gray-300 flex items-center justify-center aspect-square md:w-full rounded-3xl"
      >
        <img class="object-cover w-full h-full" [src]="imgs[0]" />
      </div>

      <div
        class="flex flex-wrap md:flex-col justify-between w-full h-auto md:w-2/6"
      >
        <div
          *ngFor="let img of imgs.slice(1)"
          class="aspect-square overflow-hidden bg-gray-100 flex items-center justify-center shadow-xl w-[30%] md:w-[90%] lg:mx-auto rounded-2xl"
        >
          <img class="object-cover w-full h-full" [src]="img" />
        </div>
      </div>
    </div>

    <div
      class="justify-center lg:justify-around items-center flex flex-col lg:w-[40%] p-5 sm:p-10 gap-8"
    >
      <h2 class="font-bold text-2xl sm:text-4xl lg:justify-start lg:w-full">
        {{ product?.CATEGORIAS }} {{ product?.NOMBRE }}
      </h2>

      <p class="text-lg sm:text-xl lg:w-full text-justify">
        {{ product?.DESCRIPCION }}
      </p>

      <span class="font-bold text-3xl lg:w-full"
        >Precio: S/. {{ product?.PRECIO }}</span
      >

      <button
        type="button"
        class="h-14 font-semibold bg-[#FC0382] hover:scale-105 duration-300 text-white w-[95%] sm:w-[85%] text-2xl flex gap-4 justify-center items-center rounded-3xl"
        (click)="addNewProduct(product?._id)"
      >
        Agregar al carrito

        <svg
          width="27"
          height="23"
          viewBox="0 0 27 23"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M23.8333 8.91663L21.9146 18.5106C21.6778 19.6942 21.5595 20.286 21.2505 20.7287C20.978 21.119 20.6029 21.4264 20.1667 21.6171C19.672 21.8333 19.0685 21.8333 17.8614 21.8333H9.13852C7.9315 21.8333 7.32798 21.8333 6.83331 21.6171C6.39709 21.4264 6.02202 21.119 5.74953 20.7287C5.44053 20.286 5.32217 19.6942 5.08545 18.5106L3.16667 8.91663M23.8333 8.91663H21.25M23.8333 8.91663H25.125M3.16667 8.91663H1.875M3.16667 8.91663H5.75M21.25 8.91663H5.75M21.25 8.91663L17.375 1.16663M5.75 8.91663L9.625 1.16663M9.625 12.7916V16.6666M13.5 12.7916V16.6666M17.375 12.7916V16.6666"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>
  </section>

  <section
    *ngIf="products && products.length > 0"
    style="max-width: 1600px"
    class="relative mx-auto flex flex-col justify-center py-10 gap-10"
  >
    <h2 class="text-4xl flex justify-center font-bold">PRODUCTOS SIMILARES</h2>
    <app-carousel [products]="products.reverse()" />
  </section>
</div>
