<div class="justify-center max-w-[1600px] mx-auto relative">
  <a
    class="absolute top-12 left-5 text-[#FC0382] font-bold text-lg cursor-pointer"
    onclick="window.history.back();"
  >
    < Retroceder
  </a>

  <div class="flex">
    <app-filters
      class="hidden sm:block"
      [categories]="categories"
      [minPrice]="minPrice"
      [maxPrice]="maxPrice"
      [selectedCategories]="selectedCategories"
      [sortBy]="sortBy"
      [ascending]="ascending"
      (filtersApplied)="onFiltersApplied($event)"
    ></app-filters>

    <div class="flex flex-col mt-20 mb-10 gap-10 mx-auto">
      <section
        class="flex flex-col sm:flex-row w-full justify-around border border-red-600 sm:gap-10 gap-4"
      >
        <input
          type="text"
          class="sm:w-4/6 h-12 pl-4 rounded-2xl shadow-lg text-xl"
          placeholder="Buscar producto"
          [(ngModel)]="searchTerm"
          (ngModelChange)="searchByName()"
        />
        <button
          class="sm:w-1/6 h-12 px-2 text-white hover:scale-105 shadow-lg text-2xl font-bold bg-[#FC0382] rounded-2xl min-w-[100px]"
        >
          Buscar
        </button>
      </section>

      <section
        class="flex justify-center flex-col min-h-[1000px] p-6 border border-red-500"
      >
        <section
          *ngIf="
            paginatedProducts && paginatedProducts.length > 0;
            else noProductsMessage
          "
        >
          <app-cards [products]="paginatedProducts"></app-cards>
        </section>

        <ng-template #noProductsMessage>
          <div
            class="h-[80vh] w-full flex flex-col justify-center align-middle text-center"
          >
            <p>No hay productos disponibles en este momento.</p>
          </div>
        </ng-template>
      </section>

      <section
        class="inline-flex items-center justify-center rounded-2xl bg-[#FC0382] py-2 text-white w-32 mx-auto"
      >
        <button
          class="inline-flex items-center justify-center"
          (click)="previousPage()"
          [disabled]="currentPage === 1"
        >
          <span class="sr-only">Prev Page</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </button>

        <span class="h-4 w-px bg-white/25" aria-hidden="true"></span>

        <div>
          <label for="PaginationPage" class="sr-only">Page</label>

          <input
            type="number"
            class="text-xl h-8 w-12 rounded border-none bg-transparent p-0 text-center font-medium [-moz-appearance:_textfield] focus:outline-none focus:ring-inset focus:ring-white [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none"
            min="1"
            value="{{ currentPage }}"
            id="PaginationPage"
          />
        </div>

        <span class="h-4 w-px bg-white/25"></span>

        <button
          (click)="nextPage()"
          [disabled]="currentPage === totalPages"
          class="inline-flex size-8 items-center justify-center rtl:rotate-180"
        >
          <span class="sr-only">Next Page</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </section>
    </div>
  </div>
</div>
