<section
  class="absolute top-52 left-1/2 -translate-x-1/2 w-3/4 rounded-3xl bg-white shadow-xl p-8 text-center flex flex-col gap-10 lg:p-10 lg:max-w-[1000px] lg:gap-16"
>
  <div class="font-bold text-3xl text-[#FC0382] text-center">
    Error 404 - Página no Encontrada
  </div>

  <div class="flex flex-col lg:flex-row gap-16 lg:justify-evenly">
    <article
      class="flex flex-col text-center gap-6 lg:text-left lg:w-2/5 lg:justify-end lg:py-6"
    >
      <h3 class="font-bold text-2xl">
        ¡Oops! La página que estás buscando no existe.
      </h3>
      <p class="font-semibold text-lg">
        Serás redirigido automáticamente a la página anterior en unos segundos.
        Si la redirección no funciona, por favor haz
        <a href="/" class="text-[#FC0382] font-medium underline">Click Aquí</a>
        para volver.
      </p>
    </article>
    <img src="assets/undrawwarning.svg" class="xl:w-2/5" />
  </div>
</section>
