<div class="justify-center max-w-[1600px] mx-auto relative">
  <a
    class="absolute top-12 left-5 text-[#E21F71] font-bold text-lg cursor-pointer"
    onclick="window.history.back();"
  >
    < Retroceder
  </a>

  <section
    class="flex flex-col pt-32 gap-10 max-w-[1400px] mx-auto lg:flex-row lg:px-28 lg:justify-between"
  >
    <div
      class="flex flex-col gap-6 mx-auto text-center p-6 lg:mx-0 lg:w-1/2 lg:text-left lg:p-2 lg:font-semibold"
    >
      <p class="text-3xl font-bold">Contacta con Nosotros</p>
      <p>
        Hola, ¿cómo estás? En La Frutita, estamos aquí para responder a todas
        tus preguntas y escuchar tus comentarios. Queremos asegurarnos de que tu
        experiencia con nosotros sea excelente en todo momento.
      </p>
      <p>
        Email: lafrutita@gmail.com <br />
        Telefono: +51 987 654 321 +51 987 654 321 <br />
      </p>
    </div>

    <div class="flex flex-col gap-4 text-lg p-2 lg:w-2/5">
      <input
        type="text"
        class="border border-gray-300 px-4 py-2 focus:outline-none focus:border-[#FC0382] rounded-3xl"
        placeholder="Nombre y Apellido"
      />
      <input
        type="text"
        class="border border-gray-300 px-4 py-2 focus:outline-none focus:border-[#FC0382] rounded-3xl"
        placeholder="Correo Electronico"
      />
      <textarea
        type="text"
        class="border border-gray-300 px-4 py-2 focus:outline-none focus:border-[#FC0382] rounded-3xl"
        placeholder="Mensaje"
      ></textarea>
      <button
        class="p-3 text-2xl font-semibold text-white rounded-3xl bg-[#FC0382] hover:scale-105 duration-300"
      >
        Enviar Mensaje
      </button>
    </div>
  </section>

  <section
    class="flex flex-col justify-center max-w-[1400px] mx-auto gap-8 py-20 text-center lg:flex-row-reverse lg:px-28 lg:py-14 lg:justify-between lg:font-semibold"
  >
    <div
      class="container mx-auto flex flex-col text-xl gap-2 lg:w-2/5 lg:text-left lg:mx-0 lg:p-2"
    >
      <p class="mb-4">Nos puedes ubicar en estos 3 locales físicos:</p>
      <label
        (click)="
          showMap(
            'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d967.5016367182119!2d-75.74074962318691!3d-14.076790632541522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e324888ea7b5%3A0xc01c08279e743fd3!2sLa%20Frutita!5e0!3m2!1ses-419!2spe!4v1707432887115!5m2!1ses-419!2spe',
            'Puente Blanco'
          )
        "
        [class.selected]="selectedMap === 'Puente Blanco'"
      >
        Urb. Puente Blanco, B-8
      </label>
      <label
        (click)="
          showMap(
            'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d967.5404896053589!2d-75.73000737620434!3d-14.067611777882643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e2963e59ef19%3A0xaf2f8bbd5bc82d53!2sLa%20Frutita!5e0!3m2!1ses-419!2spe!4v1707433621875!5m2!1ses-419!2spe',
            'San Martin'
          )
        "
        [class.selected]="selectedMap === 'San Martin'"
      >
        Av San Martin 461
      </label>
      <label
        (click)="
          showMap(
            'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241.88417785023356!2d-75.73039290548786!3d-14.068504622628124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e2966f3899ab%3A0x9e0445183fc6d4cd!2sC.%20Camana%20425%2C%20Ica%2011001!5e0!3m2!1ses-419!2spe!4v1707433913681!5m2!1ses-419!2spe',
            'Camana'
          )
        "
        [class.selected]="selectedMap === 'Camana'"
      >
        C. Camana 425
      </label>
      <p class="mt-4">
        ¡Te esperamos en La Frutita para disfrutar de una experiencia
        gastronómica única!
      </p>
    </div>

    <iframe
      id="mapFrame"
      class="w-11/12 h-80 mx-auto lg:w-1/2 lg:mx-0"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </section>
</div>
