<section class="relative max-w-[2000px] mx-auto">
  <div class="relative h-[600px] mx-auto">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://i.postimg.cc/1tqcC5XH/385318843-738579391638573-9038313876177357439-n.jpg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"
      ></span>
    </div>
  </div>

  <div class="container mx-auto px-4 -mt-36">
    <div
      class="relative flex bg-white w-full mb-8 shadow-lg rounded-[50px] p-4 justify-center h-64 flex-col gap-4 pt-10"
    >
      <section class="w-full justify-around flex text-center h-28">
        <div
          *ngFor="let item of list1"
          class="w-20 lg:w-24 flex flex-col justify-center gap-2"
        >
          <a [href]="item.ref">
            <img [src]="item.img" class="w-12 mx-auto" />
            <span class="font-bold lg:text-lg text-sm">{{ item.name }}</span>
          </a>
        </div>
      </section>
      <section
        class="w-2/3 lg:w-1/2 mx-auto justify-around flex text-center h-16"
      >
        <div
          *ngFor="let item of list2"
          class="w-24 flex flex-col justify-center gap-1"
        >
          <a [href]="item.ref" target="_blank">
            <img [src]="item.img" class="w-8 mx-auto" />
          </a>
        </div>
      </section>
      <section
        class="w-full justify-center flex text-center 0 h-6 text-sm font-semibold"
      >
        La Frutita E.I.R.L. - 20202020201
      </section>
    </div>
  </div>
</section>

<section
  class="flex justify-center flex-col gap-10 p-10 lg:py-20 xl:px-40 mx-auto max-w-[2000px]"
>
  <h2 class="text-3xl font-bold mx-auto text-center">NUESTRAS CATEGORIAS</h2>

  <article
    class="flex flex-col sm:flex-row lg:w-4/5 h-auto sm:h-52 gap-4 sm:gap-8 items-center bg-[#FF80C1] p-4 sm:p-8 rounded-[50px] shadow-lg sm:text-left"
    *ngFor="let item of list3; let i = index"
    [ngClass]="{
      'sm:ml-auto sm:flex-row-reverse sm:text-right ': i % 2 === 1,
      'sm:mr-auto': i % 2 === 0
    }"
  >
    <div
      class="sm:w-1/5 max-w-[160px] min-w-[80px] w-48 sm:h-auto aspect-square overflow-hidden flex justify-center items-center rounded-3xl"
    >
      <img [src]="item.img" class="w-full h-full object-cover" />
    </div>
    <div class="flex flex-col gap-2 lg:gap-5 w-4/5 text-white">
      <h3 class="text-2xl xl:text-3xl font-semibold justify-center flex">
        {{ item.title }}
      </h3>
      <p class="hidden sm:block text-sm xl:text-lg">
        {{ item.description }}
      </p>
    </div>
  </article>
</section>

<section
  class="flex justify-center flex-col py-16 relative max-w-[1200px] mx-auto"
>
  <h2 class="text-3xl font-bold mb-10 mx-auto text-center">
    PREGUNTAS FRECUENTES
  </h2>

  <ul *ngFor="let faq of faqs; let i = index">
    <li class="bg-white my-2 shadow-lg rounded-xl">
      <h2
        (click)="handleToggleAccordion(i)"
        class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer"
      >
        <span>
          {{ faq.question }}
        </span>
        <svg
          [ngClass]="{
            'rotate-180': expandedIndex !== null && expandedIndex === i
          }"
          class="fill-current text-[#E21F71] h-6 w-6 transform transition-transform duration-500"
          viewBox="0 0 20 20"
        >
          <path
            d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10"
          ></path>
        </svg>
      </h2>

      <div
        [ngStyle]="{
          'max-height.px': expandedIndex === i ? '300' : '0',
          
        }"
        class="border-l-2 border-[#E21F71] overflow-hidden duration-300 transition-all"
      >
        <p class="p-3 text-gray-900">{{ faq.answer }}</p>
      </div>
    </li>
  </ul>
</section>
