<app-navbar></app-navbar>

<section class="relative bg-blueGray-50">
  <div class="relative h-[500px] max-w-[1600px] mx-auto">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://scontent.flim13-1.fna.fbcdn.net/v/t39.30808-6/312811944_2424875077668563_7294150550749299779_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=c83dfd&_nc_eui2=AeH4tKZ2TMNyg0DeIJZnOznOP7ufpKFvIQs_u5-koW8hC_l9XH9JzW1Sx3vcn-8ZluKvDFfheel5uGAFH-zRGuXx&_nc_ohc=q0_pYMZXwvUAX__fh9k&_nc_ht=scontent.flim13-1.fna&oh=00_AfBZPiA8_BpoaaLUdPaEv_FIdoAxwFIRI5_F1ZyLvpGq3Q&oe=65C8C895');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"
      ></span>
    </div>
  </div>

  <div class="container mx-auto px-4 -mt-40">
    <div
      class="relative flex bg-white w-full mb-8 shadow-lg rounded-sm px-4 py-5 justify-center h-80"
    >
      <div class="w-56 justify-center flex flex-col mx-20 text-center">
        <div
          class="w-24 h-24 mb-5 shadow-lg rounded-full bg-[#F76096] mx-auto items-center"
        >
          <p class="flex justify-center my-8 text-white">Prueba</p>
        </div>
        <p>Moda que mezcla lo clásico con lo moderno, siempre a la moda.</p>
      </div>

      <div class="w-56 justify-center flex flex-col mx-20 text-center">
        <div class="w-24 h-24 mb-5 shadow-lg rounded-full bg-[#F76096] mx-auto">
          <p class="flex justify-center my-8 text-white">Prueba</p>
        </div>
        <p>Moda que mezcla lo clásico con lo moderno, siempre a la moda.</p>
      </div>

      <div class="w-56 justify-center flex flex-col mx-20 text-center">
        <div class="w-24 h-24 mb-5 shadow-lg rounded-full bg-[#F76096] mx-auto">
          <p class="flex justify-center my-8 text-white">Prueba</p>
        </div>
        <p>Moda que mezcla lo clásico con lo moderno, siempre a la moda.</p>
      </div>

      <div class="w-56 justify-center flex flex-col mx-16 text-center">
        <div class="w-24 h-24 mb-5 shadow-lg rounded-full bg-[#F76096] mx-auto">
          <p class="flex justify-center my-8 text-white">Prueba</p>
        </div>
        <p>Moda que mezcla lo clásico con lo moderno, siempre a la moda.</p>
      </div>
    </div>
  </div>
</section>

<section
  *ngIf="products && products.length > 0"
  style="max-width: 1600px"
  class="relative mx-auto flex flex-col justify-center mt-16"
>
  <h2 class="text-2xl flex justify-center">NUESTROS PRODUCTOS TOP</h2>
  <app-carousel [products]="products.reverse()" />
</section>

<section class="dark:bg-slate-600 dark:text-white py-8">
  <div class="container py-8 px-6 mx-auto">
    <a
      class="uppercase tracking-wide no-underline hover:no-underline font-bold text-xl"
      href="#"
    >
      About
    </a>

    <p class="mt-4">
      Es un innovador e-commerce utilizando el stack MEAN (MongoDB, Express.js,
      Angular y Node.js) combinado con tecnologías avanzadas como el sistema de
      paquetado pnpm, un lenguaje estricto de TypeScript y CSS desarrollado con
      Tailwind para crear una plataforma de compra en línea robusta y segura.
      Con características de autenticación de usuarios, carrito de compras,
      integración de MercadoPago y un panel de administración, ofrecemos una
      experiencia de compra fluida y un control completo sobre los productos y
      ventas.
    </p>
  </div>
</section>

<app-footer></app-footer>
