<div class="w-full flex items-center lg:gap-10 gap-4 px-5 my-8">
  <button aria-label="slide backward" (click)="goPrev()">
    <svg
      width="12"
      viewBox="0 0 8 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M7 1L1 7L7 13"
        stroke="#E21F71"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>

  <section class="overflow-x-hidden px-8">
    <div
      id="slider"
      class="flex lg:gap-16 md:gap-6 gap-14 items-center transition ease-out duration-700"
    >
      <div
        *ngFor="let product of products"
        class="flex justify-center lg:min-w-[300px] min-w-[200px] m"
      >
        <app-card [product]="product"></app-card>
      </div>
    </div>
  </section>

  <button aria-label="slide forward" (click)="goNext()">
    <svg
      width="12"
      viewBox="0 0 8 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 1L7 7L1 13"
        stroke="#E21F71"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</div>
