<div class="w-100 p-6 flex flex-col">
  <img
    [routerLink]="'/product/' + product?._id"
    class="hover:grow rounded-md"
    [src]="product?.IMAGEN"
  />
  <div
    class="w-28 h-28 mb-2 shadow-lg rounded-full bg-[#F76096] mx-auto -mt-14 flex"
  >
    <p
      class="flex justify-center mx-auto my-auto text-white text-2xl font-semibold"
    >
      S/. {{ product?.PRECIO }}
    </p>
  </div>
  <div class="flex items-center justify-between">
    <p class="font-semibold mx-auto text-2xl text-center">
      {{ product?.NOMBRE }}
    </p>
  </div>
</div>
