<div
  class="w-72 h-96 p-6 flex flex-col justify-center cursor-pointer"
  [routerLink]="'/product/' + product?._id"
>
  <img class="rounded-md w-48 h-48 mx-auto" [src]="product?.IMAGEN" />

  <div
    class="w-28 h-28 mb-2 shadow-lg rounded-full bg-[#F76096] mx-auto -mt-14 flex"
  >
    <p
      class="flex justify-center mx-auto my-auto text-white text-2xl font-semibold"
    >
      S/. {{ product?.PRECIO }}
    </p>
  </div>

  <div class="flex items-center justify-between mt-4">
    <p class="font-semibold mx-auto text-2xl text-center">
      {{ product?.NOMBRE }}
    </p>
  </div>
</div>
