<div class="m-5 sticky top-64">
  <h2 class="font-semibold text-2xl">FILTRA TUS RESULTADOS</h2>
  <section
    class="flex gap-8 justify-center flex-col w-72 h-full border bg-white mt-5 px-6 shadow-lg pb-28 pt-8"
  >
    <details class="group [&_summary::-webkit-details-marker]:hidden">
      <summary
        class="flex cursor-pointer items-center justify-between text-gray-900 transition"
      >
        <span class="text-xl font-medium"> Precio </span>

        <span class="transition group-open:-rotate-180">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"
            />
          </svg>
        </span>
      </summary>

      <div class="pt-4 px-4 flex justify-between gap-4 text-xl">
        <label for="FilterPriceFrom" class="flex items-center gap-2">
          <span>$</span>

          <input
            type="number"
            id="FilterPriceFrom"
            placeholder="Desde"
            class="w-full shadow-sm"
            [(ngModel)]="minPrice"
            (ngModelChange)="applyFilters()"
          />
        </label>
        -
        <label for="FilterPriceTo" class="flex items-center gap-2">
          <span>$</span>

          <input
            type="number"
            id="FilterPriceTo"
            placeholder="Hasta"
            class="w-full rounded-md shadow-sm"
            [(ngModel)]="maxPrice"
            (ngModelChange)="applyFilters()"
          />
        </label>
      </div>
    </details>

    <details class="group [&_summary::-webkit-details-marker]:hidden">
      <summary
        class="flex cursor-pointer items-center justify-between text-gray-900 transition"
      >
        <span class="text-xl font-medium"> Ordenar</span>

        <span class="transition group-open:-rotate-180">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"
            />
          </svg>
        </span>
      </summary>

      <ul class="border-gray-200 pt-2 px-4 text-xl gap-2 flex flex-col">
        <li (click)="setSorting('name', true)">
          <label class="inline-flex items-center cursor-pointer"> A - Z </label>
        </li>
        <li (click)="setSorting('name', false)">
          <label class="inline-flex items-center cursor-pointer"> Z - A </label>
        </li>
        <li (click)="setSorting('price', true)">
          <label class="inline-flex items-center cursor-pointer">
            Menor precio
          </label>
        </li>
        <li (click)="setSorting('price', false)">
          <label class="inline-flex items-center cursor-pointer">
            Mayor precio
          </label>
        </li>
      </ul>
    </details>

    <details class="group [&_summary::-webkit-details-marker]:hidden">
      <summary
        class="flex cursor-pointer items-center justify-between text-gray-900 transition"
      >
        <span class="text-xl font-medium">Categorias</span>

        <span class="transition group-open:-rotate-180">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-4 w-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 8.25l-7.5 7.5-7.5-7.5"
            />
          </svg>
        </span>
      </summary>

      <div class="categorias">
        <ul class="p-4 gap-2 flex flex-col">
          <li *ngFor="let category of categories">
            <label
              for="{{ category.categoryName }}"
              class="inline-flex items-center gap-2"
            >
              <input
                type="checkbox"
                id="{{ category.categoryName }}"
                class="h-5 w-5 rounded border-gray-300"
                [(ngModel)]="category.selected"
                [value]="category.categoryName"
                (change)="applyFilters()"
              />

              <span>
                {{ category.categoryName }}
              </span>
            </label>
          </li>
        </ul>
      </div>
    </details>

    <summary
      class="absolute bottom-5 flex items-center border-t border-gray-400 pb-1 pt-5 w-60 justify-center"
    >
      <span
        class="text-xl text-[#E21F71] font-medium cursor-pointer"
        (click)="resetFilters()"
      >
        Resetear</span
      >
    </summary>
  </section>
</div>
