<div class="h-screen flex">
  <div
    class="login_img_section hidden lg:flex w-full lg:w-1/2 justify-around items-center"
  >
    <div class="bg-black opacity-20 inset-0 z-0"></div>
    <div class="w-full mx-auto px-20 flex-col items-center space-y-6">
      <h1 class="text-white font-bold text-4xl font-sans">Simple App</h1>
      <p class="text-white mt-1">The simplest app to use</p>
      <div class="flex justify-center lg:justify-start mt-6">
        <a
          href="#"
          class="hover:bg-indigo-700 hover:text-white hover:-translate-y-1 transition-all duration-500 bg-white text-indigo-800 mt-4 px-4 py-2 rounded-2xl font-bold mb-2"
          >Get Started</a
        >
      </div>
    </div>
  </div>
  <div
    class="flex w-full lg:w-1/2 justify-center items-center bg-white space-y-8"
  >
    <div class="w-full px-8 md:px-32 lg:px-24">
      <form
        class="bg-white rounded-md shadow-2xl p-5"
        #frmLogin="ngForm"
        (ngSubmit)="onLogin(frmLogin)"
      >
        <h1 class="text-gray-800 font-bold text-2xl mb-1">Login</h1>
        <p class="text-sm font-normal text-gray-600 mb-8">Welcome Back</p>
        <div class="flex items-center border-2 mb-6 py-2 px-3 rounded-2xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              strokeLinecap="round"
              strokeLinejoin="round"
              strokeWidth="2"
              d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
            />
          </svg>
          <input
            class="pl-2 w-full outline-none border-none"
            id="email"
            type="email"
            name="email"
            placeholder="Email Address"
            ngModel
            required
          />
        </div>
        <div class="flex items-center border-2 mb-4 py-2 px-3 rounded-2xl">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-gray-400"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fillRule="evenodd"
              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
              clipRule="evenodd"
            />
          </svg>
          <input
            class="pl-2 w-full outline-none border-none"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            ngModel
            required
          />
        </div>

        <div class="flex justify-between mb-8">
          <span
            class="text-sm ml-2 hover:text-blue-500 cursor-pointer hover:-translate-y-1 duration-500 transition-all"
            >Forgot Password ?</span
          >

          <a
            href="/register"
            class="text-sm ml-2 hover:text-blue-500 cursor-pointer hover:-translate-y-1 duration-500 transition-all"
            >Don't have an account yet?</a
          >
        </div>

        <div class="grid gap-y-3 text-white font-semibold">
          <button
            type="submit"
            class="block w-full bg-indigo-600 py-2 rounded-2xl hover:bg-indigo-700 hover:-translate-y-1 transition-all duration-500"
          >
            Login
          </button>
          <button
            (click)="providerAction('facebook')"
            type="button"
            class="flex items-center justify-center gap-x-2 py-2 rounded-2xl bg-[#3b5998] hover:-translate-y-1 transition-all duration-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: rgb(255, 255, 255)"
              data-darkreader-inline-fill=""
            >
              <path
                d="M12.001 2.002c-5.522 0-9.999 4.477-9.999 9.999 0 4.99 3.656 9.126 8.437 9.879v-6.988h-2.54v-2.891h2.54V9.798c0-2.508 1.493-3.891 3.776-3.891 1.094 0 2.24.195 2.24.195v2.459h-1.264c-1.24 0-1.628.772-1.628 1.563v1.875h2.771l-.443 2.891h-2.328v6.988C18.344 21.129 22 16.992 22 12.001c0-5.522-4.477-9.999-9.999-9.999z"
              ></path>
            </svg>
            Sign in with Facebook
          </button>
          <button
            (click)="providerAction('google')"
            type="button"
            class="flex items-center justify-center gap-x-2 py-2 rounded-2xl bg-[#db4a39] hover:-translate-y-1 transition-all duration-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: rgb(255, 255, 255)"
              data-darkreader-inline-fill=""
            >
              <path
                d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z"
              ></path>
            </svg>
            Sign in with Google
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
