<nav
  id="header"
  class="w-full z-30 dark:fill-white stroke-black dark:stroke-white dark:bg-slate-900"
>
  <div
    style="max-width: 1600px"
    class="w-full mx-auto flex justify-between px-10 py-4 text-[#E21F71] font-semibold text-2xl"
  >
    <label for="menu-toggle" class="cursor-pointer md:hidden block mr-20">
      <svg
        class="w-6 mx-1 cursor-pointer"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 6H20M4 12H20M4 18H20"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </label>

    <input class="hidden" type="checkbox" id="menu-toggle" />

    <div class="hidden md:flex md:w-auto md:order-1" id="menu">
      <ul class="md:flex items-center">
        <li>
          <a class="inline-block hover:underline mx-5" href="/">Inicio</a>
        </li>
        <li>
          <a class="inline-block hover:underline mx-5" href="/products"
            >Productos</a
          >
        </li>
      </ul>
    </div>

    <div class="order-1 md:order-2 text-4xl font-bold">
      <a routerLink="/">La Frutita</a>
    </div>

    <div class="hidden md:flex md:w-auto md:order-3" id="nav-content">
      <ul class="md:flex items-center">
        <li>
          <a class="inline-block hover:underline mx-5" href="/about"
            >Contacto</a
          >
        </li>
        <li>
          <a class="inline-block hover:underline mx-5" href="/cart">Carrito</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
