<nav id="header" class="w-full z-30">
  <div
    style="max-width: 1600px"
    class="w-full mx-auto flex justify-between px-10 py-4 text-[#FC0382] font-semibold text-2xl"
  >
    <label for="menu-toggle" class="cursor-pointer md:hidden block mr-20">
      <svg
        class="w-6 mx-1 cursor-pointer"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 6H20M4 12H20M4 18H20"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </label>

    <input class="hidden" type="checkbox" id="menu-toggle" />

    <div
      class="hidden w-full md:flex md:w-auto md:order-3 justify-between border-solid border-red-600 border-4"
      id="nav-content"
    >
      <a href="/">
        <img src="assets/LogoFrutitaGrande.svg" alt="Logo" class="w-48" />
      </a>
      <ul class="md:flex items-center gap-5 font-semibold">
        <li *ngFor="let item of NavbarList">
          <a class="inline-block hover:underline" [href]="item.ref">{{
            item.title
          }}</a>
        </li>
        <li>
          <a
            class="border-2 border-[#FC0382] bg-[#FC0382] px-4 py-2 rounded-2xl text-white transition-colors duration-300"
            href="/menu"
            >CARTA</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
